#maxbuttons {
	margin: 0px 20px 20px 0px;
}
#maxbuttons .logo {
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	font-weight: bold;
	font-style: italic;
}
#maxbuttons .logo img {
	vertical-align: middle;
	padding-left: 5px;
}
#maxbuttons h2.title {
	float: left;
}
#maxbuttons h2.tabs {
	border-bottom: solid 1px #cccccc;
	padding-bottom: 0px;
	margin-top: 10px;
}
#maxbuttons h2.tabs .spacer {
	padding-right: 20px;
}
#maxbuttons input[type='text'] {
	width: 400px;
}
#maxbuttons input[type='text'].tiny {
	width: 35px;
	margin-top: 5px;
}
#maxbuttons input[type='text'].tiny-nopad {
	width: 35px;
}
#maxbuttons input[type='checkbox'] {
	margin-top: 7px;
}
#maxbuttons select {
	width: 150px;
}
#maxbuttons textarea {
	width: 400px;
	height: 100px;
	white-space: nowrap;
	overflow: scroll;
}
#maxbuttons .clear {
	clear: both;
}
#maxbuttons .default {
	float: left;
	padding-left: 10px;
	padding-top: 4px;
	font-style: italic;
	color: #808080;
}
#maxbuttons .default-color {
	float: left;
	padding-left: 54px;
	padding-top: 8px;
	font-style: italic;
	color: #808080;
}
#maxbuttons .default-other {
	float: left;
	padding-left: 40px;
	padding-top: 8px;
	font-style: italic;
	color: #808080;
}
#maxbuttons .option {
	margin-bottom: 20px;
}
#maxbuttons .option .label {
	float: left;
	font-weight: bold;
	padding-left: 3px;
	width: 100px;
}
#maxbuttons .option .note {
	float: left;
	font-weight: normal;
	font-style: italic;
	color: #808080;
}
#maxbuttons .option .input {
	margin-top: 3px;
}
#maxbuttons .option-design {
	margin-bottom: 5px;
}
#maxbuttons .option-design .label {
	float: left;
	font-weight: bold;
	padding-left: 3px;
	padding-top: 3px;
	width: 160px;
}
#maxbuttons .option-design .input {
	float: left;
}
#maxbuttons .option-design .input td {
	padding: 0px 20px 20px 0px;
}
#maxbuttons .option-design .input td div.cell-label {
	padding: 1px 10px 0px 5px;
	font-weight: bold;
	border-bottom: solid 1px #d1d1d1;
	width: 180px;
}
#maxbuttons .form-actions {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: dashed 1px #d1d1d1;
}
#maxbuttons .form-actions a {
	margin-right: 10px;
}
#maxbuttons .spacer {
	margin-bottom: 20px;
}
#maxbuttons .colorpicker-box {
	background: url('js/colorpicker/images/select2.png') transparent repeat scroll 0 0;
	display: block;
	float: left;
	width: 36px;
	height: 36px;
	position: relative;
}
#maxbuttons .colorpicker-box span {
	background: url('js/colorpicker/images/select2.png') transparent center;
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 4px;
	left: 4px;
}
#maxbuttons .shortcode {
	background-color: #ffffe0;
	border: solid 1px #e6db55;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px;
	margin: 10px 0px 20px 0px;
	display: none;
}
#maxbuttons .output {
	position: fixed;
	top: 240px;
	left: 750px;
	background-color: #f1f1f1;
	border: solid 1px #d1d1d1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px;
	z-index: 99;
}
#maxbuttons .output .note {
	float: left;
	margin: 8px 0px 0px 10px;
}
#maxbuttons .output .result {
	padding: 50px;
}
#maxbuttons .output .result p {
	padding: 5px 0px 5px 0px;
}
#maxbuttons .button-list {
	margin-top: 10px;
	margin-right: 20px;
}
#maxbuttons .button-list p {
	font-size: 13px;
}
#maxbuttons .button-list a.button-name {
	font-weight: bold;
	text-decoration: none;
}
#maxbuttons .button-list td.cell-button {
	padding-right: 40px;
	padding-bottom: 20px;
}
#maxbuttons .button-list td.cell-words {
	width: 500px;
	padding-bottom: 20px;
}
#maxbuttons .pro-offer {
	width: 600px;
}
#maxbuttons .pro-offer p,
#maxbuttons .pro-offer ul,
#maxbuttons .pro-offer form, 
#maxbuttons .pro-offer input {
	font-size: 14px;
}
#maxbuttons .pro-offer ul {
	list-style-type: disc;
	margin-left: 30px;
}
